@model IEnumerable<BookStore.Models.Book>

@{
    ViewBag.Title = "Home Page";
}

<!-- Hero Section Begin -->
<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>All Types</span>
                    </div>
                    <ul>
                        <li><a href="#">All</a></li>
                        <li><a href="#">Fiction</a></li>
                        <li><a href="#">NonFiction</a></li>
                        <li><a href="#">Honnor</a></li>
                        <li><a href="#">Science Fiction</a></li>
                        <li><a href="#">Document</a></li>
                        <li><a href="#">Romance</a></li>
                        <li><a href="#">Fairytale</a></li>
                        <li><a href="#">Fantasy</a></li>
                        <li><a href="#">Tragedy</a></li>
                        <li><a href="#">Adventure</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="#">
                            <div class="hero__search__categories">
                                All Categories
                                <span class="arrow_carrot-down"></span>
                            </div>
                            <input type="text" placeholder="What do yo u need?">
                            <button type="submit" class="site-btn">SEARCH</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+09 123-456-78</h5>
                            <span>support 24/7 time</span>
                        </div>
                    </div>
                </div>
                <div class="hero__item set-bg" data-setbg="img/hero/banner.jpg">
                    <div class="hero__text">
                        <span>FPT Book</span>
                        <h2>Books <br />From around the world</h2>
                        <p>Free Pickup and Delivery Available</p>
                        <a href="#" class="primary-btn">SHOP NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Featured Section Begin -->
<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Featured Books</h2>
                </div>
                <div class="featured__controls">
                    <ul>
                        <li class="active" data-filter="*">All</li>
                        @foreach (var item in Model)
                        {
                            <li data-filter="@Html.DisplayFor(modelItem => item.Type)">@Html.DisplayFor(modelItem => item.Type)</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="row featured__filter">
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="img/featured/feature-1.jpg">
                            <img style="width:100%; height:30vh" src="@Html.DisplayFor(modelItem => item.Image)" alt="">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h4><a style="text-decoration:none; color:black" href="#">@Html.DisplayFor(modelItem => item.Title)</a></h4>
                            <h3><strong>$@Html.DisplayFor(modelItem => item.Price)</strong></h3>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- Featured Section End -->